.galleryBloc {
  margin-top: 15%;
}
.gallery {
}
.galleryItem img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.imageContainer {
}
.galleryItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.deleteBtn {
}
.galleryContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  gap: 1rem;

  padding: 2%;
}
