.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  margin: 1rem 0 0 3rem;
  width: 40%;
  min-height: 80%;
}
.img {
  margin: 1rem;
  width: 90%;
  min-height: 80%;
}

.btn-remove {
  width: 50%;
  margin-top: -1.5rem;
  margin-left: 10rem;
  background-color: #7c1a05; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.date {
  font-weight: 500;
  float: right;
  margin: .5rem 0 0 1rem;
}