.tableContainer {
  width: 100%;
}
.actionBtn {
  border: none;
  background-color: rgb(82, 136, 238);
  padding: 5px 5px;
  border-radius: 5px;
  color: aliceblue;
}
.actionBtn:hover {
  transform: scale(0.9);
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  border: none;
}
.table > thead {
  vertical-align: bottom;

  text-align: center;
}
th {
  position: sticky;
  top: 4px;
  background-color: rgb(82, 136, 238);

  color: #fff;
}
th,
td {
  text-align: center;
  padding: 1rem;
}
.pdfLogo {
  width: 40px;
  height: 40px;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border: none;
  }
  .mobile-off {
    display: none;
  }
}
